{% extends "base.html" %}
{% set page_title = "EPyTODO" %}

{% block content %}
    <section id="general">
        <h2>Please sign in or sign up.</h2>
    </section>
    <section id="list">
        <table>
            <tr class="tr-static">
                <th colspan="6" width="100%">Tasks</th>
            </tr>
            <tr class="ruler tr-static">
                <td width="20%"></td>
                <td width="15%"></td>
                <td width="15%"></td>
                <td width="15%"></td>
                <td width="15%"></td>
                <td width="15%"></td>
            </tr>
            <tr class="tr-static">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="add">Add</button></td>
            </tr>
        </table>
    </section>
{% endblock %}